@{
    ViewBag.Title = "Home";
}

<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="banner-content text-center">
                    <h1 class="text-uppercase text-white">We are Engineering 12</h1>
                    <h3 class="text-uppercase text-white">Proud to be part of the Sparta Academy</h3>
                    <a href="#" class="primary-btn banner-btn">Explore Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->