@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Engineering 12</h1>
    <p class="lead">This is a Web App showcasing details and all the work that the stream has completed in the Sparta Academy</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Members</h2>
        <p>
           Click to view individual members and their achievements.
        </p>
        <p><a class="btn btn-default" href="">Go to &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Game Projects</h2>
        <p>Week 4 came to represent the first solo project of the members. Click to learn more about their final deliveries. </p>
        <p><a class="btn btn-default" href="">See Games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Group Projects</h2>
        <p>Week 6 was a first step into the Agile methodology and working as a group. Click to see what was delivered.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn More &raquo;</a></p>
    </div>
</div>